aiofile
aiogram
aiogram-translation
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
cffi
faust-cchardet
frozenlist
greenlet
idna
magic-filter
multidict
outcome
pycparser
pydantic
pydantic_core
setuptools
sniffio
sortedcontainers
typing_extensions
yarl
python-dotenv
